.carta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: outset;
    margin-top: 2rem;
    padding: 5rem;
}

.contenido{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
